.footer{
  width: 100%;
  height: 60px;
  position: fixed;
  background: $Gates;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .btn{
    width: 60px;
    height: 50px;
    @include center;
    flex-direction: column;
    text-align: center;

    .theIcon{
      font-size: 20px;
      margin: 5px;
      text-align: center;
    }

    .iconName{
      font-size: 14px;
      letter-spacing: 2px;
      text-align: center;

    }
  }
}